# https://github.com/github/gitignore/blob/main/Python.gitignore
# https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/

# Environments
.env
.venv

# Ruff stuff:
.ruff_cache/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
