name: pre-commit

"on":
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  repository_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          activate-environment: true
          enable-cache: true
          cache-dependency-glob: |
            **/uv.lock
            **/pyproject.toml
            **/.pre-commit-config.yaml

      - name: Uv sync
        run: uv sync

      - uses: pre-commit/action@v3.0.1
